<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>items</key>
        <array>
                <dict>
                        <key>assets</key>
                        <array>
                                <dict>
                                        <key>kind</key>
                                        <string>software-package</string>
                                        <key>url</key>
                                        <string>https://www.119149.com/store/uploads/app/CyPal_v1.1001_debug_20181209.ipa</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>full-size-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>https://www.119149.com/store/uploads/app/Icon@2x.png</string>
                                </dict>
                                <dict>
                                        <key>kind</key>
                                        <string>display-image</string>
                                        <key>needs-shine</key>
                                        <true/>
                                        <key>url</key>
                                        <string>https://www.119149.com/store/uploads/app/Icon.png</string>
                                </dict>
                        </array>
                        <key>metadata</key>
                        <dict>
                                <key>bundle-identifier</key>
                                <string>pushapp.zh</string>
                                <key>bundle-version</key>
                                <string>1001</string>
                                <key>kind</key>
                                <string>software</string>
                                <key>title</key>
                                <string>CyPal v1.0.1</string>
                        </dict>
                </dict>
        </array>
</dict>
</plist>
